In [2]:
# pandas es una libreria 
import pandas as pd    
#importar el dataset
data_iris = pd.read_csv('data/iris.csv')

In [3]:
#mostrar las 6 primeras observaciones
data_iris.head(6)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [4]:
data_iris['petal.length'].describe()

count    150.000000
mean       3.758000
std        1.765298
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal.length, dtype: float64

In [5]:
# hallar cantidad de filas
data_iris.shape

(150, 5)

In [6]:
# listado de las columnas
data_iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [18]:
data_iris['sepal.length'],['sepal.width']

(0      5.1
 1      4.9
 2      4.7
 3      4.6
 4      5.0
       ...
 145    6.7
 146    6.3
 147    6.5
 148    6.2
 149    5.9
 Name: sepal.length, Length: 150, dtype: float64,
 ['sepal.width'])

In [9]:
# hallar el maximo y minimo de la columna petal.length
data_iris['petal.length'].min

<bound method Series.min of 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal.length, Length: 150, dtype: float64>

In [12]:
print ('El minimo es: ', min(data_iris['petal.length']))
print ('El maximo es: ', max(data_iris['petal.length']))
print ('El promedio es : ', data_iris['petal.length'].mean())
print ('La mediana es : ', data_iris['petal.length'].median())
print ('La deviacion estandar es : ', data_iris['petal.length'].std())

El minimo es:  1.0
El maximo es:  6.9
El promedio es :  3.7580000000000005
La mediana es :  4.35
La deviacion estandar es :  1.7652982332594662

In [14]:
data_iris.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [19]:
#listar los sepalos cuya length sea mayor a 6
data_iris[data_iris['sepal.length']>6]

     sepal.length  sepal.width  petal.length  petal.width     variety
50            7.0          3.2           4.7          1.4  Versicolor
51            6.4          3.2           4.5          1.5  Versicolor
52            6.9          3.1           4.9          1.5  Versicolor
54            6.5          2.8           4.6          1.5  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
..            ...          ...           ...          ...         ...
144           6.7          3.3           5.7          2.5   Virginica
145           6.7          3.0           5.2          2.3   Virginica
146           6.3          2.5           5.0          1.9   Virginica
147           6.5          3.0           5.2          2.0   Virginica
148           6.2          3.4           5.4          2.3   Virginica

[61 rows x 5 columns]

In [29]:
data_iris[(data_iris['sepal.length']>3) & (data_iris['sepal.length']<5)]

     sepal.length  sepal.width  petal.length  petal.width     variety
1             4.9          3.0           1.4          0.2      Setosa
2             4.7          3.2           1.3          0.2      Setosa
3             4.6          3.1           1.5          0.2      Setosa
6             4.6          3.4           1.4          0.3      Setosa
8             4.4          2.9           1.4          0.2      Setosa
9             4.9          3.1           1.5          0.1      Setosa
11            4.8          3.4           1.6          0.2      Setosa
12            4.8          3.0           1.4          0.1      Setosa
13            4.3          3.0           1.1          0.1      Setosa
22            4.6          3.6           1.0          0.2      Setosa
24            4.8          3.4           1.9          0.2      Setosa
29            4.7          3.2           1.6          0.2      Setosa
30            4.8          3.1           1.6          0.2      Setosa
34            4.9          3.1           1.5          0.2      Setosa
37            4.9          3.6           1.4          0.1      Setosa
38            4.4          3.0           1.3          0.2      Setosa
41            4.5          2.3           1.3          0.3      Setosa
42            4.4          3.2           1.3          0.2      Setosa
45            4.8          3.0           1.4          0.3      Setosa
47            4.6          3.2           1.4          0.2      Setosa
57            4.9          2.4           3.3          1.0  Versicolor
106           4.9          2.5           4.5          1.7   Virginica

In [31]:
data_iris[(data_iris['sepal.length']>3) & (data_iris['sepal.length']<5)].count()

sepal.length    22
sepal.width     22
petal.length    22
petal.width     22
variety         22
dtype: int64

In [33]:
#hallar la cantidad de observaciones
data_iris.count()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     150
variety         150
dtype: int64

In [34]:
data_iris[data_iris['variety']=='Versicolor'].count()

sepal.length    50
sepal.width     50
petal.length    50
petal.width     50
variety         50
dtype: int64